[Desktop Entry]
Version=1.0
Name=AMMOcoin Core
Comment=AMMOcoin P2P Cryptocurrency
Comment[fr]=AMMOcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AMMOcoin, eşten eşe kriptografik sanal para birimi
Exec=ammocoin-qt %u
Terminal=false
Type=Application
Icon=ammocoin128
MimeType=x-scheme-handler/ammocoin;
Categories=Office;Finance;
StartupWMClass=AMMOcoin-qt
