
## <summary>policy for ammocoin</summary>


########################################
## <summary>
##	Transition to ammocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ammocoin_domtrans',`
	gen_require(`
		type ammocoin_t, ammocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ammocoin_exec_t, ammocoin_t)
')


########################################
## <summary>
##	Execute ammocoin server in the ammocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ammocoin_initrc_domtrans',`
	gen_require(`
		type ammocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ammocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search ammocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ammocoin_search_lib',`
	gen_require(`
		type ammocoin_var_lib_t;
	')

	allow $1 ammocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ammocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ammocoin_read_lib_files',`
	gen_require(`
		type ammocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ammocoin_var_lib_t, ammocoin_var_lib_t)
')

########################################
## <summary>
##	Manage ammocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ammocoin_manage_lib_files',`
	gen_require(`
		type ammocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ammocoin_var_lib_t, ammocoin_var_lib_t)
')

########################################
## <summary>
##	Manage ammocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ammocoin_manage_lib_dirs',`
	gen_require(`
		type ammocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ammocoin_var_lib_t, ammocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ammocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ammocoin_admin',`
	gen_require(`
		type ammocoin_t;
		type ammocoin_initrc_exec_t;
		type ammocoin_var_lib_t;
	')

	allow $1 ammocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, ammocoin_t)

	ammocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ammocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ammocoin_var_lib_t)

')

